.hr__separator {
    padding-top: 0;
    padding-bottom: 0;
    /*border-bottom: 1px solid #b2b2ca;*/
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}