.mat-card {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    color: #476978;
}

.mat-card-content {
    font-size: 1em;
}

.mat-card-subtitle {
  font-size: 1.2233em;
  font-style: normal;
  color: #476978;
  line-height:1.377em;
}
