.notification {
  border: 1px solid #fefefe;
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  background-color: #c2dbe654;
  color: 476978;
  font-size: 1.0275em;
  border-left:3px solid #476978;
}
