.row-hr-border {
    border: .0511em solid rgba(209, 214, 214, 0);
    margin: .5rem;    
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.0);
    padding:1em;
}
.row-no-border-radius {
    border-radius: 0;
}
