.mat-step-header .mat-step-icon-not-touched {
  background-color: rgb(4, 92, 106);
  color: rgba(255,255,255,.87);
}
.mat-step-header .mat-step-icon {
  background-color: #00a092;
  color: rgba(255,255,255,.87);
}
