<mo-header></mo-header>
<div class='container'>
  <br>
  <mat-card>
    <mat-card-content>
      <h3>Moelis Australia Redcape Hotel Group </h3>
      <p>
        The Equity Raising Presentation (Presentation) is an important document that you should read in its entirety before deciding whether to participate in the Offer (as referred to below and set out in the Presentation). If you have questions about the Offer, you should contact your stockbroker, accountant or other professional adviser.
      </p>
      <p>
        By accessing the Presentation (by clicking on the "Download Presentation" button below), you acknowledge that you have read and accept the terms set out on this website.
      </p>

      <h3>THE OFFER</h3>
      <p>
        The Presentation contains details of an Offer by Moelis Australia Asset Management Limited ACN 142 008 535 (Trustee) as trustee of the Moelis Australia Redcape Hotel Trust I and the Moelis Australia Redcape Hotel Trust II (together referred to as the Moelis Australia Redcape Hotel Group) of up to 57 million units in the Moelis Australia Redcape Hotel Group for $1.05 per Unit.
      </p>
      <p>
        The Presentation is dated 15 November 2017 and is available on this website by clicking the link below. A paper copy of the Presentation will be provided on request free of charge by calling Moelis Australia Limited on 1800 634 850 (within Australia) or +61 2 9290 9681 (outside Australia).
      </p>

      <h3>APPLICATIONS UNDER THE OFFER</h3>
      <p>
        Applications for units in the Moelis Australia Redcape Hotel Group will only be accepted where they are made by completing the online application form available through this website and by paying for the units through BPAY. <strong>Only those investors who are sophisticated investors and wholesale clients under the Corporations Act 2001 (Cth) are entitled to participate in the Offer. The Trustee may require additional information from you to verify your investor status</strong>.
      </p>

      <h3>INSTRUCTIONS</h3>
      <p>
        Subject to the terms contained on this website, an electronic copy of the Presentation may be viewed or downloaded by following the instructions set out below.
      </p>

      <h3>ACKNOWLEDGEMENT</h3>
      <p>
        By clicking the "Download Presentation" button below and accessing the Presentation on this website, you represent, warrant and agree that:
      </p>
      <ul>
        <li>
          you are 18 years of age or over;
        </li>
        <li>
          you are not a resident of the United States or currently located in the United States, are not acting for the account or benefit of a person in the United States or any other foreign person and will not make a copy of the Prospectus available to, or release or distribute a copy of the Prospectus to, or for the account or benefit of, any person in the United States or in any other place in which, or to any other person to whom, it would be unlawful to do so (Ineligible Persons); and
        </li>
        <li>
          you are not acting as a nominee for, or otherwise for the account or benefit of, any Ineligible Persons.
        </li>
      </ul>
      <p>
        The information in the Presentation is not financial product advice and does not take into account your investment objectives, financial situation or particular needs. The Presentation should not be construed as financial, taxation, legal or other advice. If you do not fully understand this Presentation or are in doubt as to how to deal with it, you should seek professional guidance from your stockbroker, lawyer, accountant or other professional adviser before deciding whether to invest.
      </p>

      <p class="notification">
        By clicking the 'OFFER' button below and accessing these webpages and the documents on these webpages, you represent and warrant that you have read, accept and agree to be bound by the terms and conditions as mentioned on this page.
      </p>
      <div class="float-container">
        <button mat-raised-button [routerLink]="['/landingpage']" flex start>DOWNLOAD PRESENTATION&nbsp;&nbsp;<i class="material-icons">file_download</i></button>
        <button mat-raised-button [routerLink]="['/login']" flex end>OFFER&nbsp;&nbsp;<i class="material-icons">star_border</i></button>
      </div>
    </mat-card-content>
  </mat-card>

</div>
<mo-footer></mo-footer>
