<mo-header></mo-header>
<div class='container'>
  <br>
  <mat-card>
    <mat-card-content>
      <h3>EQUITY RAISING APPLICATION FORM</h3>
      <p>
        This Application Form is for Moelis Equity Raising.
      </p>

      <p>
        The Offer is being made in, or accompanied by, a copy of the Presentation which contains information about investing. Persons eligible to apply must apply online or, if applicable, contact their Adviser to submit an Application Form.
      </p>

      <p>
        You should read the Presentation in full before making an application. If you are in doubt as to how to deal with it, please contact your stockbroker, accountant, financial adviser or other professional adviser without delay.
      <p>
      <p>
        By completing this Application Form and making a payment by BPAY® pursuant to this Application Form, you make the declarations set out in this Application Form.
      </p>

      <p>
        This Application Form is only available to persons within Australia. The Presentation contains information relevant to a decision to invest in Redcape and you should read the entire Presentation carefully before applying.
      </p>
      <hr class="hr__separator">
      <div class="form-container">
          <form class="form-container" [formGroup]="ua">
            <mat-form-field hintLabel="Max 5 digits"
              [hideRequiredMarker]="ua.value.hideRequired"
              [floatPlaceholder]="ua.value.floatPlaceholder">
              <input matInput #input maxlength="5" 
              type="number" placeholder="Units applied for" required />
              <mat-hint align="end">{{input.value?.length || 0}}/5</mat-hint>
            </mat-form-field>            

            <mat-form-field>
              <input matInput placeholder="Issue price per Unit:" type="number" class="number-alignment">
              <span matPrefix>A$&nbsp;</span>
              <span matSuffix>.00</span>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Application Payment based on number of units applied" type="number">
              <span matPrefix>A$&nbsp;</span>
            </mat-form-field>
          </form>
        </div>
      <hr class="hr__separator">
      <p>
        In order to obtain payment instructions to complete your Application, please click on the Submit button. This will take you to a confirmation page and provide BPAY payment details.
      </p>
      <p>
        If you would like more information or have any questions relating to the Capital Raising, you can contact the Offer Information Line on 1800 634 850 (within Australia) or +61 2 9290 9681 (outside Australia) between 8:15am and 5:30pm (Melbourne time) Monday to Friday. If you are uncertain as to whether an investment in Capital Raising is suitable for you, please contact your stockbroker, financial adviser, accountant, lawyer or other professional adviser.
      </p>
      <div class="float-container">
        <button mat-raised-button [routerLink]="['/login']" flex start><i class="material-icons">keyboard_arrow_left</i>PREVIOUS</button>
        <button mat-raised-button [routerLink]="['/confirmation']" flex end>SUBMIT<i class="material-icons">done</i></button>
      </div>
    </mat-card-content>
  </mat-card>

</div>
<mo-footer></mo-footer>
