<mo-header></mo-header>
<div class='container'>
  <br>
  <mat-card>
    <mat-card-content>
      <h3>Registration Details</h3>
      <p>
      </p>
      By clicking 'Next' you are confirming your holding details are correct as above for an Application under the Offer
      <hr class="hr__separator">
      <div class="float-container">
        <button mat-raised-button [routerLink]="['/login']" flex start><i class="material-icons">keyboard_arrow_left</i>PREVIOUS</button>
        <button mat-raised-button [routerLink]="['/application']" flex end>NEXT<i class="material-icons">keyboard_arrow_right</i></button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<mo-footer></mo-footer>