<header class="docs-navbar-header fixed-top" style="height: 6em;" >
  <div class="hcontainer">
    <div>
      <a class="navbar-brand" href="https://moelisaustralia.com.au/" target="_blank" title="{{ hrefTitle }}">
        <img src="{{ imageSrc }}" alt="{{ hrefTitle }}" />
      </a>
    </div>
    <div>
      <mat-card-subtitle>
        <strong>{{ subtitleText }}</strong><br>
        {{ subtitleCtcinfoAus }}<br>
        {{ subtitleCtcinfoOut }}
      </mat-card-subtitle>
    </div>
  </div>
</header>