<mo-header></mo-header>
<div class='container'>
  <br>
  <mat-card>
    <mat-card-content>
      <h3>Enter Your Priority Code&nbsp;<span style="color:#ff0000;">*</span></h3>
      <div class="form-container">
        <form class="form-container" [formGroup]="pc">
          <mat-form-field
            [hideRequiredMarker]="pc.value.hideRequired"
            [floatPlaceholder]="pc.value.floatPlaceholder">
          <input matInput placeholder="Priority Code" required />
          </mat-form-field>
        </form>
      </div>
      <span style="color:#ff0000;">*</span>&nbsp;Indicates a manadatory field.
      <hr class="hr__separator">
      <div class="float-container">
        <button mat-raised-button [routerLink]="['/landingpage']" flex start><i class="material-icons">keyboard_arrow_left</i>PREVIOUS</button>
        <button mat-raised-button [routerLink]="['/details']" flex end>NEXT<i class="material-icons">keyboard_arrow_right</i></button>
      </div>
    </mat-card-content>
  </mat-card>

</div>
<mo-footer></mo-footer>