//misc variables
$mainBlue: #2f5572;
$mainRed: #aa253e;
$mainTextColor: #58595b;

$darkKhaki: #503e08;
$lightKhaki: #E5B24B;

$khaki: #B08F2E;;

//body
$bodyFontFamily: 'Lato', sans-serif;
$bodyContainerPadding: 60px 15px 0;
$bodyMargin:0;

//navigation
$navBarBackGroundColor: #FFFFFF !important;
$navbarForegroundColor: #fefefe;
$navbarBorderBottom:  3px solid#c0003c;

//list
$listPadding: 20px;
$listBackground: rgba(220, 220, 220, .33);
$listBorder: 1px solid rgba(225, 232, 237, 0.41);
$listWidth: 100%;
$listLineHeight:28px;
$listFontSize: 1.1123em;
$listLetterSpacing:.1122em;

//footer
$footerTextColor:#feffee;
